<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest Channel</title>
</head>
<body>
    <h1>Rest Channel</h1>
    {% if previous_messages %}
    <h3>Messages</h3>
    <ul>
        {% for m in previous_messages %}
        <li><p>Message: {{m.sender}}:{{ m.message }}</p></li>
        {% endfor %}
    </ul>
    {% endif %}

<form action="rest" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
</body>
</html>