<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omnichat Logs</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'omnichat_web/style.css' %}">
</head>
<body>
    <h1>Logs</h1>
    <a href="{% url 'omnichat_web:index' %}" class="button">Go Back</a>
    <a href="{% url 'omnichat_web:save_conversation' %}" class="button">Save Active Conversation</a>
    <a href="{% url 'omnichat_web:clear_conversation' %}" class="button">Clear Active Conversation</a>
    <hr/>
    <section  class="message-list-container">
        {% if ai_text %}
        <!-- <ul class="message-list"> -->
            {% for message in ai_text %}
            <!-- class="{% cycle 'bubble sender last' 'bubble recipient last' %}" -->
            <div class="{% cycle 'message-container' 'message-container darker right' %}">
                <!-- <div class="cropped"> -->
                    <img src="{% static 'omnichat_web/images/yinyangtree.jpg' %}" alt="Avatar" class="{% cycle '' 'right' %}">
                <!-- </div> -->
                <p class="message-text">{{ message }}</p>
                <br>
                <span class="{% cycle 'time-right' 'time-left' %}">11:01</span>
            </div>
            {% empty %}
            <!-- <li ><p>{{ message }}</p></li> -->
            {% endfor %}
        <!-- </ul> -->
        {% endif %}
    </section>
    <section class="message-input">
        <form action="send_message" method="post" class="message-form">
            <input type="submit" value="SEND" class="message-button">
            {% csrf_token %}
            {{ form }}
        </form>
    </section>
    <!-- <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script> -->
    <script src="{% static 'omnichat_web/scripts/completions.js' %}"></script>
</body>
</html>